@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato&family=Roboto:wght@400;700&display=swap');

:root {
  --primary: #440381;
  --secondary: #DAFFED;
  --tertiary: #DE3C4B;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato";
}

body {
  background-color: var(--primary);
}


/* Navbar component */

.logo {
  display: flex;
  justify-content: center;
  font-family: 'Bebas Neue';
  letter-spacing: 10px;
  padding: 10px;
  color: var(--secondary);
}

.navbar {
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: center;
}

.navbar a {
  color: var(--tertiary);
}


/* MEDIA QUERIES */
@media screen and (max-width: 700px) {
  
}