@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato&family=Roboto:wght@400;700&display=swap');

:root {
  --primary: #FFE66D;
  --secondary: #DAFFED;
  --tertiary: #DE3C4B;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato";
}

body {
  background-color: var(--primary);
}

/* Landing */
.landing {
  display: flex;
  
}

 h1 {
  position: absolute;
  width: 25%;
  margin-left: 35px;
  margin-top: 50px;
}


.signUp {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: left;
  width: 50%;
  margin-left: 100px;
}

.signUp input, label, button {
  width: 50%;
}

.signUp label {
  margin-bottom: 10px;
  font-weight: bolder;
  font-size: 20px;
}

.signUp input {
  margin-bottom: 10px;
  height: 30px;
  background-color: white;
  border-radius: 8px;
}

.signUp .genres {
  width: 26%;
  border-radius: 8px;
}

.signUp .genres img {
  margin-right: 10px;
}

.signUp button {
  margin-top: 20px;
  width: 50%;
  height: 30px
}

.split-right {
  background-color: red;
  width: 50%;
  height: 100vh;
  float: right;
}



/* Navbar component */

.logo {
  display: flex;
  justify-content: center;
  font-family: 'Bebas Neue';
  letter-spacing: 10px;
  padding: 10px;
  color: var(--secondary);
}

.navbar {
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: center;
}

.navbar a {
  color: var(--tertiary);
}


/* MEDIA QUERIES */
@media screen and (max-width: 700px) {
  /* Landing */
  .landing {
    display: flex;
    flex-direction: column;
  }

  h1 {
    margin-top: 15px;
    margin-left: 20px;
  }

  .signUp {
    width: 100%;
    height: 100vh;
    justify-content: flex-start;
    padding-top: 175px;
    margin-left: 75px;
  }


  .signUp label {
    font-size: 20px;
  }
  .signUp input {
    width: 60%;
  }

  .signUp .genres {
    width: 50%;
  }
  .split-right {
    height: 100vh;
    width: 100%;
  }
}
