@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@400;700&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Phudu:wght@900&display=swap');


:root {
  --primary: #FFE66D;
  --secondary: #DAFFED;
  --tertiary: #DE3C4B;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato";
}

body {
  background-image: url('assets/landing_background.jpg');
  object-fit: cover;
}

/* Landing */
.landing {
  display: flex;
  background-image: url('assets/landing_background.jpg');
  object-fit: cover;
}



.split-left {
  flex-direction: column;
  width: 60%;
  float: left;
  height: 100vh;
  border-right-style: solid;
}

.split-left h1{
  width: 25%;
  margin-left: 20px;
  margin-top: 10px;
  font-size: 50px;
  font-family: 'Phudu';
  font-weight: bolder;
  letter-spacing: 10px;


}

.split-left label {
  margin-top: 50px;
}
.split-left .signUp, .login {
  margin: 0px 50px;
  padding: 10px 20px;
  border-style: solid;
  border-radius: 10px;
  width: 600px
}

.signUp input, label, button {
  margin-left: 75px;
  width: 50%;
  display: block;
}

.signUp label {
  margin-bottom: 10px;
  font-weight: bolder;
  font-size: 20px;
}

.signUp input {
  margin-bottom: 10px;
  height: 25px;
  background-color: white;
  border-radius: 8px;
  padding: 15px 12px;
}

.signUp input:hover {
  background-color: lightgray;
}

.signUp input:focus {
  background-color: lightgray;
}

.signUp input:focus::placeholder{
  color: transparent;
}

.signUp .genres {
  width: 35%;
  border-radius: 8px;
  margin-left: 75px;
  height: 25px;
}

.signUp .genres img {
  margin-right: 10px;
}

.signUp button {
  margin-top: 25px;
  width: 25%;
  height: 30px
}

.signUp button:hover {
  transform: scale(1.1);
  margin-left: 82px;
}

.login input, label, button {
  margin-left: 75px;
  width: 50%;
  display: block;
}

.login label {
  margin-bottom: 10px;
  font-weight: bolder;
  font-size: 20px;
}

.login input {
  margin-bottom: 10px;
  height: 25px;
  background-color: white;
  border-radius: 8px;
  padding: 15px 12px;
}

.login button {
  margin-top: 25px;
  width: 25%;
  height: 30px
}

.login button:hover {
  transform: scale(1.1);
  margin-left: 82px;
}


.split-right {
  width: 40%;
  height: 100vh;
  float: right;
}

.split-right img {
  display: block;
  width: 100%;
  height: 33.4%;
  object-fit: cover;
  border-bottom-style: solid;
  border-top-style: solid;
}



/* Navbar component */

.logo {
  display: flex;
  justify-content: center;
  font-family: 'Bebas Neue';
  letter-spacing: 10px;
  padding: 10px;
  color: var(--secondary);
}

.navbar {
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: center;
}

.navbar a {
  color: var(--tertiary);
}


/* MEDIA QUERIES */
@media screen and (max-width: 700px) {
  /* Landing */
  .landing {
    display: flex;
    flex-direction: column;
  }

  .split-left {
    width: 100%;
  }


.split-left .signUp {
  width: 300px;
  margin-top: 75px;
  padding: 10px;
  margin: 40px;
  
  }

  .signUp label, input, button {
    margin-left: 10px;
  }

  .signUp input {
    margin-left: 10px;
  }
  
  .signUp label {
    font-size: 15px;
  }
  .signUp input {
    width: 60%;
    padding: 0px 8px;
  }

  .signUp .genres {
    width: 70%;
    margin-left: 10px;
  }

  .signUp button:focus {
    background-color: red;
    margin-left: 10px;
  }

  .split-right {
    height: 100vh;
    width: 100%;
  }
  
}
