.userReviews {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(#BFDBF7, #0D253F);
  height: 100vh;
}

.userReviews h2 {
  display: flex;
  padding-top: 5%;
  margin-right: auto;
  margin-left: auto;
  font-size: 40px;
}

.userReviews .reviewContainer {
  height: 100%;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  background-color: #506A84;

  border-color: #3A536D;
  border-style: solid;
  border-radius: 10px;
  overflow: auto;
}


.userReviews .review {
  padding: 5px;
  border-bottom-style: solid;
  border-color: #3A536D;
  overflow: hidden;
  height: 50px;
  text-align: end;
}

.userReviews .title {
  float: left;
  padding-left: 15px;
}

.userReviews .rating {
  padding-right: 15px;
}

.userReviews p {
  padding-top: 10px;
  display: flex;
  padding-left: 10px;
}
.userReviews .review:hover {
  height: auto;
}














